<!doctype html>
<html lang="en" ng-app="playalista">
<head>
    <meta charset="utf-8">
    <title>PLAYALISTA</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>

    <script src="static/controllers.js"></script>
    <script src="static/autocomplete.js"></script>
    <script src="static/youtube.js"></script>

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/autocomplete.css">
</head>
<body ng-controller="musicCtrl">
    <div id="title">
        PLAYALISTA&#9733;
    </div>

    <autocomplete ng-model="query" current-title="currentYoutubeTitle" attr-placeholder="Search for a song!" click-activation="true" data="suggestions" on-type="getSong" on-selection="getVideo"></autocomplete>

    <div id="youtubeContainer">
        <div youtube code="currentYoutubeId" on-play-finish="skipVideo"></div>
    </div>

    <div class="buttonContainer">
        <button class="skipButton" ng-click="skipVideo()">
            Skip Song 
        </button>
        <button class="randomButton" ng-click="setRandomVideo()">
            Get A Random Song
        </button>
    </div>

</body>
</html>